.item{
    display: flex;
    margin-left: 0;
    font-size: larger;
    width: 100%;
    
    margin-top: 3px;
    height: 40px;
    align-items: center;
    margin-left: 10px;
}

.listItem{
    
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin-top: 1rem;
}

.check-box{
    background-color: blue;
    transform: scale(2);
}

.completed{
    text-decoration: line-through;
    text-decoration-thickness: 2px; /* Adjust the thickness of the line */
  text-decoration-color: rgba(239, 238, 238); /* Adjust the opacity of the line */
}